<!DOCTYPE html>
<html lang="en">

<head>
	<title>Photo Library 2024</title>
	<%- include('./partials/head') %>
</head>

<body>
	<header class="container">
		<%- include('./partials/nav') %>
	</header>
	<main class="main">
		<% if (images.length==0) { %>
			<p>There are still no images in the photo library. <a href="/add-image-form">Add one now.</a></p>
			<% } else { %>
				<p>The photo library currently has <%= images.length %> images.</p>
				<% } %>
					<section class="container-grid">
						<% images.forEach(image=> { %>
							<article>

								<img src="<%= image.url %>" alt="<%= image.title %>">
								<h3>
									<%= image.title.toUpperCase() %>
										<span class="tag">
											<%= image.tag %>
										</span>
								</h3>
								<p>
									<%= new Date(image.date).toLocaleDateString() %>
								</p>
								<p>
									<%= image.color %>
								</p>
								<div class="circle" style="background-color: <%= image.color %>;"></div>

								<!-- <input type="hidden" name="url" value="<%= image.url %>"> -->
								<button class="delete-image " type="submit">Delete image</button>


							</article>
							<% }) %>
					</section>
	</main>
</body>

</html>