<!DOCTYPE html>
<html lang="en">

<head>
	<title>Photo Library 2024</title>
	<%- include('./partials/head') %>
</head>

<body>
	<header class="container">
		<%- include('./partials/nav') %>
	</header>
	<main class="main">
		<% if (images.length==0) { %>
			<p>There are still no images in the photo library. <a href="/add-image-form">Add one now.</a></p>
			<% } else { %>
				<p>The photo library currently has <%= images.length %> images.</p>
				<% } %>
					<section class="container-grid">
						<% images.forEach(image=> { %>
							<article>
								<img src="<%= image.url %>" alt="<%= image.title %>">
								<h3>
									<%= image.title.toUpperCase() %>
										<span class="tag">
											<%= image.tag %>
										</span>
								</h3>
								<p>
									<%= new Date(image.date).toLocaleDateString() %>
								</p>
								<p>
									<%= image.color %>
								</p>
								<div class="circle" style="background-color: <%= image.color %>;"></div>
								<form class="deleteForm " action="/delete-image" method="post"
									onsubmit="confirmDelete(event, '<%= image.title %>')">
									<input type="hidden" name="id" value="<%= image._id %>">
									<button class="delete-image" type="submit">Delete image</button>
								</form>
							</article>
							<% }) %>
					</section>
	</main>
	<script>
		function confirmDelete(event, title) {
			if (!confirm(`Do you want to delete image "${title}"?`)) {
				event.preventDefault();
			}
		}
	</script>
</body>

</html>